.get{
    background-color: rgb(14, 59, 59);
    border-radius: 15px;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    max-width: 500px;
    padding: 10px;
    margin: 20px auto;

}
.get a {
    color: white;
}
.get a:hover {
    color: rgb(172, 190, 69);
}